<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment Tracker</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="">
            <h1><a href="{{ url_for('index') }}" class="logo">Assignment Tracker</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="{{ url_for('index') }}"><span class="fa fa-home mr-3"></span> Homepage</a>
                </li>
                <li>
                    <a href="{{ url_for('tasks') }}"><span class="fa fa-sticky-note mr-3"></span> Tasks</a>
                </li>
                <li>
                    <a href="{{ url_for('calendar') }}"><span class="fa fa-sticky-note mr-3"></span> Calendar</a>
                </li>
                
                <li>
                    <a href="{{ url_for('settings') }}"><span class="fa fa-user mr-3"></span> Settings</a>
                </li>
                <li>
                    <a href="{{ url_for('info') }}"><span class="fa fa-paper-plane mr-3"></span> Info</a>
                </li>
            </ul>
        </nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Calendar</h2>
            <p>This is your Calendar Page! Here, you can see and edit your calendar.</p>   
            
            <div class="jzdbox1 jzdbasf jzdcal">

                <div class="jzdcalt">June 2017</div>
                
                <span>Su</span>
                <span>Mo</span>
                <span>Tu</span>
                <span>We</span>
                <span>Th</span>
                <span>Fr</span>
                <span>Sa</span>
                
                
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span>1</span>
                <span class="circle" data-title="My 25th birthday!">2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
                <span>11</span>
                <span class="circle" data-title="2 month anniversary!">12</span>
                <span>13</span>
                <span>14</span>
                <span>15</span>
                <span>16</span>
                <span>17</span>
                <span>18</span>
                <span>19</span>
                <span>20</span>
                <span>21</span>
                <span class="circle" data-title="#MusicMonday - share your favorite song!">22</span>
                <span>23</span>
                <span>24</span>
                <span>25</span>
                <span>26</span>
                <span>27</span>
                <span>28</span>
                <span>29</span>
                <span>30</span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                <span class="jzdb"><!--BLANK--></span>
                </div>
        </div>
    </div>

    
</body>

</html>